body{
    font-family: 'Raleway', sans-serif;
    background-color:#FAF9F6;

}

/* TITLE */
.title-div { 
    font-weight: 600;
    margin: 30% 0;
}
.title-div img {
    margin: 7% auto;
    width: 40%;
}

/*CAROUSEL*/
.carousel-indicators [data-bs-target]{
    border: solid gray 2px;
    border-radius: 15px;
    height: 20px;
    width: 20px;
    margin: 0 10px;
}
.carousel-indicators .active {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/*BUTTONS*/
.buttons-div{
    margin-top: 25%;
}
.login-button{
    height: 150px;
    width: 90%;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    padding: 0;
}
.facebook{
    background-color: #3B5798;
}
.twitter{
    background-color: #59DCFF;
}
.icon{
    float: left;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    padding: 43px;
}
.fa-facebook-f{
    background-color: #283B68;
}
.fa-twitter{
    background-color: #51B2E0;
}

/*MAIN PAGE*/
.header{
    height: 45px;
}
/*SWITCH*/
.button{
    width: 370px;
    height: 110px;
    border: solid 1px grey;
    border-radius: 440px;
    position: relative;
    background-color: white;
    font-size: 2rem;
    z-index: 0;
}
.monthly-button{
    left: 45px;
}
.daily-button{
    right: 45px;
}
.clicked{
    z-index: 1;
    background-color:#5A95FF;
    color: white;
    border-color: #5A95FF;
}

/*POP UP*/
.pop-up-div{
    overflow:scroll;

    scrollbar-base-color:gold;
    position: absolute;
    margin: 7% 5%;
    padding: 6% 6%;
    width: 90%;
    height: 92%;
    top:0%;
    z-index: 3;
    border-radius: 10px;
    background-color:white;
}
/*POP UP INPUT*/
.input-input{
    border: none;
    border-bottom: solid 1px;
    height: 100px;
    font-size: 2.2rem;
}
input:focus{
    outline: none;
}

/*COLOR PICKER*/
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    width: 100px;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius:200px;
    height: 100px;
  }
  
  input[type="color"]:nth-child(2) {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    outline: none;
    height: 100px;
  }
/*ADD BUTTON*/
.add-button{
    width: 120%;
    position:fixed;
    width: 90%;
    height: 100px;
    bottom: 0;
    left:5%;
    background-color: #5A95FF;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*FOOTER*/
.navbar{
    position: absolute;
    bottom: 0;
}
.nav-item{
    margin:20px 72px;
}
ul img{
    position: absolute;
    height: 220px;
    right: 34%;
    bottom: 0px;
}

/*LIST ITEM*/
.list-item-div{
    background-color: white;
    border-radius: 20px;
    padding: 0 3%;
    padding-top: 4% ;
    padding-bottom: 2%;
    font-size: 2rem;
    overflow: auto;
    margin: 0 10px;
}
.vl{
    border-left: 2px solid;
    height: 70px;
    display: inline;
}
.fa-trash{
    color: red;
}
.scroler{
    overflow-y: scroll;
    max-height: 600px;
    margin: 0;
    padding: 0;
}





.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: none;
    line-height: 1.125em;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 50px;
    margin-bottom: 1em;
    font-size: 3rem;
    background-color: #FAF9F6;
  }
  .react-calendar__navigation button {
    min-width: 80px;
    background: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #f8f8b6;
    border-radius: 50%;
    border: none;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #5A95FF;
    color: white;
    border: none;
    border-radius: 100%;

    
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }